*.iml
.gradle
/local.properties

# Intellij
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/tasks.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml
.idea/runConfigurations.xml
.idea/vcs.xml
gradle.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
